<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" formControlName="username" required>
                <small class="text-danger" *ngIf="!this.loginForm.get('username')?.errors?.['maxlength'] && !this.loginForm.get('username')?.errors?.['minlength'] && loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                    Please provide a username.
                </small>
                <small class="text-danger" *ngIf="this.loginForm.get('username')?.errors?.['minlength']">
                    Min length is {{ this.loginForm.get('username')?.errors?.['minlength']?.requiredLength }}.
                </small>
                <small class="text-danger" *ngIf="this.loginForm.get('username')?.errors?.['maxlength']">
                    Max length is {{ this.loginForm.get('username')?.errors?.['maxlength']?.requiredLength }}.
                </small>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" formControlName="password" required>
                <small class="text-danger" *ngIf="!this.loginForm.get('password')?.errors?.['maxlength'] && !this.loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    Please provide a password.
                </small>
                <small class="text-danger" *ngIf="this.loginForm.get('password')?.errors?.['minlength']">
                    Min length is {{ this.loginForm.get('password')?.errors?.['minlength']?.requiredLength }}.
                </small>
                <small class="text-danger" *ngIf="this.loginForm.get('password')?.errors?.['maxlength']">
                    Max length is {{ this.loginForm.get('password')?.errors?.['maxlength']?.requiredLength }}.
                </small>
            </div>
            <button class="loginButton" type="submit">Login</button>
        </form><br>
        <button class="btn btn-secondary signupButton" type="button" (click)="navigateToSignUp()">Sign Up</button>
    </div>
</div>